{% extends "base.html" %}

{% block title %} 
Biblioteca
{% endblock title %}

{% block content %} 
<h1> Lista de livros </h1> 
    {% if books_list %}
    <table class="table">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Título</th>
              <th scope="col">Autor</th>
              <th scope="col">Genero</th>
              <th scope="col">Páginas</th>
              <th scope="col">Exemplares</th>
              <th scope="col">ISBN</th>
              <th scope="col">Descrição</th>
              <th scope="col">Editora</th>
              <th scope="col"> Ações </th>
            </tr>
        </thead>
        <tbody>
              {% for book in books_list %}
              <tr>
                  <td scope="col">{{ book.pk }}</td>
                  <td scope="col">{{ book.title }}</td>
                  <td scope="col">{{ book.author }}</td>
                  <td scope="col">{{ book.gender}}</td>
                  <td scope="col">{{ book.pages }}</td>
                  <td scope="col">{{ book.copies }}</td>
                  <td scope="col">{{ book.isbn }}</td>
                  <td scope="col">{{ book.description }}</td>
                  <td scope="col">{{ book.publishing_company }}</td>
                  <td>
                 {% if book.copies > 0 %}

                    <a href="#" class="btn btn-primary btn-sm mb-2"> Disponível </a>
                    {% else %}
                    <a href="#" class="btn btn-primary btn-sm disabled"> Indisponível </a>
                      {% endif %}
                   
                    <a href="{% url 'books_update' pk=book.pk %}" class="btn btn-secondary btn-sm mb-2">Editar</a>
                    <a href="#" class="btn btn-danger btn-sm">Excluír</a>
                  </td>
              </tr>
              {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p> Sem livros cadastrados </p>
    {% endif %}

    <a href=" {% url 'books_create'%}" class="btn btn-primary"> Cadastrar livro</a>
{% endblock content %}